@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:jp:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Noto Serif JP', serif;
}